* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
ul li {
  margin-bottom: 10px;
}
input {
  border: 1px solid #ccc;
  height: 42px;
  padding: 10px 15px;
  margin-right: 10px;
}
button {
  background: #2563EB;
  border: 1px solid #2563EB;
  color: #fff;
  padding: 8px 18px;
  margin-left: 10px;
  cursor: pointer;
}
button:hover {
  background: #1D4ED8;
}